<?xml version="1.0"?>
<ruleset name="WP">
    <description>My custom coding standard.</description>
    <rule ref="WordPress-Core">
        <!-- <exclude name="PEAR.Commenting.FileComment.Missing"/> -->
        <exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
        <exclude name="WordPress.PHP.StrictComparisons"/>
        <exclude name="WordPress.PHP.StrictInArray"/>
        <exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/>
        <exclude name="WordPress.DateTime.RestrictedFunctions.date_date"/>
    </rule>
</ruleset>